<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Thanks!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <main class="card">
    <h1>Thanks, your request is in!</h1>
    <p class="intro">It has been added to the spreadsheet. I'll get back to you within one working day.</p>
    <a class="button" href="{{ url_for('form') }}">Send another request</a>
  </main>
</body>
</html>
